---
section: security
notitle: true
---

:ruby
  require 'asciidoctor'

  plugins = page.issues.collect { |issue| issue.plugins }.flatten.uniq.keep_if { |p| p }.sort { |x,y| (site._generated[:update_center].plugins[x.name]&.title&.downcase || x.name&.downcase) <=> (site._generated[:update_center].plugins[y.name]&.title&.downcase || y.name&.downcase) }
  credits = page.issues.reduce({}) do |issues, issue|
    if issue.has_key?("reporter")
      if !issues.has_key?(issue.reporter)
        issues[issue.reporter] = []
      end
      if !issues[issue.reporter].include?(issue.id)
        issues[issue.reporter] << issue.id
      end
    end
    issues
  end
  credits = credits.sort_by { |k,v| k }

  versions = page.issues.collect { |issue| issue.plugins }.flatten

  fixed_plugins = plugins.dup.keep_if { |p| p.fixed }
  unfixed_plugins = plugins.dup.keep_if { |p| !p.fixed }


%h1
  = page.title.gsub('Jenkins', 'CloudBees')

%p
  This advisory announces vulnerabilities in
  %strong
    Jenkins, CloudBees Jenkins Platform
  and
  %strong
    CloudBees Jenkins Solutions.


- described_issues = page.issues.dup.keep_if { |i| i.title && i.description }
- if described_issues.size > 0
  - described_issues.each do | issue |
    %h3{:id => issue.id}
      = issue.title
    %strong
      = issue.id
      - if issue.cve
        \/
        = issue.cve
    = Asciidoctor.convert issue.description, safe: :safe
- else
  - # If there is any content, it's the issue descriptions -- but only show if there are none in the data
  = content

%h2
  Severity

%ul
  - page.issues.dup.sort { |x,y| x.id.split("-")[1].to_i <=> y.id.split("-")[1].to_i }.each do | issue |
    %li
      = "#{issue.id}:"
      - if issue.cvss.vector.start_with? "CVSS:3.0"
        %a{ :href => 'http://www.first.org/cvss/calculator/3.0#' + issue.cvss.vector }
          = issue.cvss.severity
      - else
        = issue.cvss.severity

%h2
  Fix
- if fixed_plugins.length > 0 || page.core&.weekly&.fixed || page.core&.lts&.fixed
  %ul
    %li
      %strong
        CloudBees Traditional Platforms
      should be upgraded #{page.rolling}
    %li
      %strong
        CloudBees Cloud Platforms
      should be upgraded #{page.rolling}
    %li
      %strong
        CloudBees Jenkins Enterprise
      should be upgraded the Managed Masters and Operations Center to #{page.rolling}
    %li
      %strong
        CloudBees Jenkins Platform
      (rolling train, CJP Operations Center and CJP Client Master #{page.rolling.split('.')[0]}.x.y.z) should be upgraded to version #{page.rolling}
    %li
      %strong
        CloudBees Jenkins Platform
      (fixed train, CJP Operations Center and CJP Client Master #{page.fixed.split('.')[0]}.#{page.fixed.split('.')[1]}.x.0.z) should be upgraded to version #{page.fixed}
    %li
      %strong
        CloudBees Jenkins Team
      should be upgraded to version #{page.rolling}
    - if page.core&.weekly&.fixed || page.core&.lts&.fixed
      - if page.core&.weekly&.fixed
        %li
          %strong
            Jenkins weekly
          should be updated to version #{page.core.weekly&.fixed}
      - if page.core&.lts&.fixed
        %li
          %strong
            Jenkins LTS
          should be updated to version #{page.core.lts&.fixed}

- if unfixed_plugins.length > 0
  %p
    As of publication of this advisory, no fixes are available for the following plugins:
  %ul
    - unfixed_plugins.each do | plugin |
      %li
        = site._generated[:update_center].plugins[plugin.name]&.title || plugin.title || plugin.name
        Plugin


- if page.resources && page.resources.length > 0
  %h2
    Other Resources

  %ul
    - page.resources.each do | resource |
      %li
        %a{:href => resource.url}
          = resource.title
